[Desktop Entry]
Type=Action
ToolbarLabel[it]=Visualizza i certificati
Name[it]=Visualizza i certificati
Profiles=profile-zero;

Icon[it]=qp7m

[X-Action-Profile profile-zero]
Exec=p7m -g -c %f
Name[it]=Profilo predefinito
